<a href="https://colab.research.google.com/github/nidhib99/NLP/blob/master/Homework/NLP_email%2Ccontact_regex_J006.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Colab library to upload files to notebook
from google.colab import files

# Install Kaggle library
!pip install -q kaggle

In [0]:
# Upload kaggle API key file
uploaded = files.upload()

Saving kaggle.json to kaggle.json

In [0]:
!cp kaggle.json ~/.kaggle/kaggle.json
#!mkdir ~/.kaggle
#!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json

!mkdir ~/.kaggle
!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json

In [0]:
!kaggle datasets download -d nicapotato/womens-ecommerce-clothing-reviews

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading womens-ecommerce-clothing-reviews.zip to /content
  0% 0.00/2.79M [00:00<?, ?B/s]
100% 2.79M/2.79M [00:00<00:00, 94.0MB/s]

In [0]:
# Import pandas if you already haven't
import pandas as pd

# Import the test and train datasets into pandas dataframe
df = pd.read_csv('womens-ecommerce-clothing-reviews.zip', compression='zip', header=0, sep=',', quotechar='"')

In [0]:
df

       Unnamed: 0  Clothing ID  Age  ...   Division Name Department Name  Class Name
0               0          767   33  ...       Initmates        Intimate   Intimates
1               1         1080   34  ...         General         Dresses     Dresses
2               2         1077   60  ...         General         Dresses     Dresses
3               3         1049   50  ...  General Petite         Bottoms       Pants
4               4          847   47  ...         General            Tops     Blouses
...           ...          ...  ...  ...             ...             ...         ...
23481       23481         1104   34  ...  General Petite         Dresses     Dresses
23482       23482          862   48  ...  General Petite            Tops       Knits
23483       23483         1104   31  ...  General Petite         Dresses     Dresses
23484       23484         1084   28  ...         General         Dresses     Dresses
23485       23485         1104   52  ...  General Petite         Dresses     Dresses

[23486 rows x 11 columns]

In [0]:
df = df.drop('Unnamed: 0',1)

In [0]:
df

       Clothing ID  Age  ... Department Name Class Name
0              767   33  ...        Intimate  Intimates
1             1080   34  ...         Dresses    Dresses
2             1077   60  ...         Dresses    Dresses
3             1049   50  ...         Bottoms      Pants
4              847   47  ...            Tops    Blouses
...            ...  ...  ...             ...        ...
23481         1104   34  ...         Dresses    Dresses
23482          862   48  ...            Tops      Knits
23483         1104   31  ...         Dresses    Dresses
23484         1084   28  ...         Dresses    Dresses
23485         1104   52  ...         Dresses    Dresses

[23486 rows x 10 columns]

In [0]:
df["Review Text"].fillna(" ", inplace = True) 
df["Title"].fillna(" ", inplace = True)

In [0]:
df['ReviewFinal'] = df['Title'].map(str) + ' ' + df['Review Text'].map(str)

In [0]:
df = df.drop("Title",1)
df = df.drop("Review Text",1)
df.head(5)

   Clothing ID  ...                                        ReviewFinal
0          767  ...    Absolutely wonderful - silky and sexy and co...
1         1080  ...    Love this dress!  it's sooo pretty.  i happe...
2         1077  ...  Some major design flaws I had such high hopes ...
3         1049  ...  My favorite buy! I love, love, love this jumps...
4          847  ...  Flattering shirt This shirt is very flattering...

[5 rows x 9 columns]

In [0]:
from nltk.tokenize import word_tokenize 
from nltk.stem import WordNetLemmatizer 
import nltk
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')
import pandas as pd
import urllib, json

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [0]:
nltk.download("stopwords")
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize    
stop_words = set(stopwords.words('english')) 

from nltk.tokenize import RegexpTokenizer

def clean_list(sentence): 
  tokenizer = RegexpTokenizer(r'\w+') 
  word_tokens=tokenizer.tokenize(sentence)
  filtered_sentence = [] 
  for w in word_tokens: 
      if w not in stop_words:
        if w.isalpha():
          filtered_sentence.append(w) 
  return filtered_sentence

df["reviewText_tokens"] = df['ReviewFinal'].apply(clean_list)
print(df["reviewText_tokens"])

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
0        [Absolutely, wonderful, silky, sexy, comfortable]
1        [Love, dress, sooo, pretty, happened, find, st...
2        [Some, major, design, flaws, I, high, hopes, d...
3        [My, favorite, buy, I, love, love, love, jumps...
4        [Flattering, shirt, This, shirt, flattering, d...
                               ...
23481    [Great, dress, many, occasions, I, happy, snag...
23482    [Wish, made, cotton, It, reminds, maternity, c...
23483    [Cute, see, This, fit, well, top, see, never, ...
23484    [Very, cute, dress, perfect, summer, parties, ...
23485    [Please, make, like, one, This, dress, lovely,...
Name: reviewText_tokens, Length: 23486, dtype: object

In [0]:
df.head(5)

   Clothing ID  ...                                  reviewText_tokens
0          767  ...  [Absolutely, wonderful, silky, sexy, comfortable]
1         1080  ...  [Love, dress, sooo, pretty, happened, find, st...
2         1077  ...  [Some, major, design, flaws, I, high, hopes, d...
3         1049  ...  [My, favorite, buy, I, love, love, love, jumps...
4          847  ...  [Flattering, shirt, This, shirt, flattering, d...

[5 rows x 10 columns]

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform(df['ReviewFinal'])
feature_names = vectorizer.get_feature_names()
dense = vectors.todense()
denselist = dense.tolist()
df1 = pd.DataFrame(denselist, columns=feature_names)

In [0]:
def nltk_postag(sentence):
  pos_t=dict()
  pos_t["Position_Tags"]=nltk.pos_tag(nltk.word_tokenize(sentence))  
  return pos_t

df['reviewText_postntag']= df['Review Text'].apply(nltk_postag)
print(df["reviewText_postntag"])

0        {'Position_Tags': [('Absolutely', 'RB'), ('won...
1        {'Position_Tags': [('Love', 'VB'), ('this', 'D...
2        {'Position_Tags': [('I', 'PRP'), ('had', 'VBD'...
3        {'Position_Tags': [('I', 'PRP'), ('love', 'VBP...
4        {'Position_Tags': [('This', 'DT'), ('shirt', '...
                               ...
23481    {'Position_Tags': [('I', 'PRP'), ('was', 'VBD'...
23482    {'Position_Tags': [('It', 'PRP'), ('reminds', ...
23483    {'Position_Tags': [('This', 'DT'), ('fit', 'NN...
23484    {'Position_Tags': [('I', 'PRP'), ('bought', 'V...
23485    {'Position_Tags': [('This', 'DT'), ('dress', '...
Name: reviewText_postntag, Length: 23486, dtype: object

In [5]:
#email regex
sent1 = "your email id is nidzzz123@gmail.com"
sent2 = "your email id is nidzzz123@edu.in"

import re

x = re.findall('[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[com]+', sent1)
print(x)
x1 = re.findall('[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[in]+', sent2)
print(x1)

['nidzzz123@gmail.com']
['nidzzz123@edu.in']

In [6]:
#phone number
sent3 = "numbers are 9775876662, +91 9456211568"
y = re.findall('(\d{3}[-\.\s]??\d{3}[-\.\s]??\d{4}|\(\d{3}\)\s*\d{3}[-\.\s]??\d{4}|\d{3}[-\.\s]??\d{4})', sent3)
print(y)

['9775876662', '9456211568']