<a href="https://colab.research.google.com/github/nidhib99/NLP/blob/master/Classwork/ClassAssignment2_J006.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
df = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines = True)

In [5]:
df.head(5)

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
vowels = ['a','e','i','o','u']

In [0]:
consonants = ['b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'w', 'x', 'y', 'z']

In [0]:
import re
import string

In [0]:
"""
def Convert(string): 
    li = list(string.split(" ")) 
    return li 

def punctuation2(text):
  s = re.sub(r'[^\w\s]',' ',text)
  
  return Convert(s)
"""

In [0]:
def details(sentence):
  detail = dict()
  sentence = sentence.lower()
  count_vowels = 0
  count_consonants = 0
  word_count = 0
  punctuations = ['''!()-[]{};:'"\,<>./?@#$%^&*_~''']

  for i in sentence:
    if i in vowels:
      count_vowels = count_vowels+1
    if i in consonants:
      count_consonants = count_consonants+1
    if i in punctuations:
      sentence = sentence.replace(i, " ")
      
  words = len(sentence.split()) 
  word_count = str(words)
  
  detail['vowel'] = count_vowels
  detail['consonants'] = count_consonants
  detail['words'] = word_count


  return detail

In [88]:
df['reviewText_details'] = df.reviewText.apply(details)
df.reviewText_details

0        {'vowel': 279, 'consonants': 437, 'words': '186'}
1        {'vowel': 1504, 'consonants': 2685, 'words': '...
2         {'vowel': 134, 'consonants': 235, 'words': '96'}
3        {'vowel': 1089, 'consonants': 1775, 'words': '...
4        {'vowel': 208, 'consonants': 338, 'words': '120'}
                               ...
53253    {'vowel': 236, 'consonants': 358, 'words': '146'}
53254    {'vowel': 839, 'consonants': 1308, 'words': '4...
53255    {'vowel': 422, 'consonants': 693, 'words': '290'}
53256    {'vowel': 232, 'consonants': 335, 'words': '147'}
53257    {'vowel': 582, 'consonants': 901, 'words': '337'}
Name: reviewText_details, Length: 53258, dtype: object

In [89]:
df['summary_details'] = df.summary.apply(details)
df.summary_details

0         {'vowel': 12, 'consonants': 20, 'words': '7'}
1        {'vowel': 14, 'consonants': 31, 'words': '13'}
2         {'vowel': 15, 'consonants': 25, 'words': '8'}
3         {'vowel': 14, 'consonants': 22, 'words': '9'}
4           {'vowel': 3, 'consonants': 9, 'words': '3'}
                              ...
53253     {'vowel': 10, 'consonants': 14, 'words': '6'}
53254    {'vowel': 32, 'consonants': 52, 'words': '17'}
53255     {'vowel': 17, 'consonants': 28, 'words': '5'}
53256      {'vowel': 8, 'consonants': 11, 'words': '4'}
53257     {'vowel': 13, 'consonants': 15, 'words': '7'}
Name: summary_details, Length: 53258, dtype: object

In [0]:
#for words starting with b and words ending with g
def letters(sentence):
  letter = dict()

  x = re.findall(r'\b[bB]\w+', sentence)
  y = re.findall(r'\w+[gG]\b', sentence)

  letter['b_start'] = x
  letter['g_end'] = y

  return letter

In [0]:
df['reviewText_regex'] = df.reviewText.apply(letters)

In [15]:
df.reviewText_regex

0        {'b_start': ['bought', 'but', 'by', 'buy', 'bu...
1        {'b_start': ['BELATED', 'burying', 'brandname'...
2        {'b_start': ['been', 'But'], 'g_end': ['kickin...
3        {'b_start': ['been', 'because', 'but', 'buy', ...
4        {'b_start': ['best', 'business', 'but', 'be', ...
                               ...
53253    {'b_start': ['by', 'batteries', 'batteries', '...
53254    {'b_start': ['based', 'best', 'but', 'be', 'by...
53255    {'b_start': ['box', 'between', 'been', 'by', '...
53256    {'b_start': ['books', 'batteries', 'buttons'],...
53257    {'b_start': ['because', 'business', 'between',...
Name: reviewText_regex, Length: 53258, dtype: object